@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "montserrat-bold";
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}

* {
  font-family: "montserrat";
}

.custom-background {
  background: radial-gradient(circle at top left,
    #001483 150px,
      transparent 150px),
    radial-gradient(circle at top left,
    #000c62 700px,
      transparent 700px),
    radial-gradient(circle at top left,
    #000748 1200px,
      transparent 1200px),
    radial-gradient(circle at top left,
    #000322 2400px,
      transparent 2400px);
}

select option:hover {
  background-color: transparent !important; /* Elimina el color de fondo al hacer hover */
  color: inherit !important; /* Mantiene el color del texto igual al estado normal */
  cursor: default !important; /* Cambia el cursor a default, para que no aparezca la mano */
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
